[submodule "calendar"]
	path = calendar
	url = https://github.com/NHSTechTeam/Calendar-Maker
[submodule "graduation"]
	path = graduation
	url = https://github.com/NHSTechTeam/Graduation
[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/NHSTechTeam/Production-LeaderBoard
[submodule "member"]
	path = member
	url = https://github.com/NHSTechTeam/Member-Center
