[submodule "calendar"]
	path = calendar
	url = https://github.com/NHSTechTeam/Calendar-Maker
[submodule "graduation"]
	path = graduation
	url = https://github.com/NHSTechTeam/Graduation
[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/NHSTechTeam/Production-LeaderBoard
[submodule "member"]
	path = member
	url = https://github.com/NHSTechTeam/Member-Center
[submodule "Productions"]
	path = Productions
	url = https://github.com/NHSTechTeam/Productions
[submodule "productions"]
	path = productions
	url = https://github.com/NHSTechTeam/Productions
[submodule "ntv"]
	path = ntv
	url = https://github.com/NHSTechTeam/NTV
[submodule "clubs"]
	path = clubs
	url = https://github.com/NHSTechTeam/Clubs
[submodule "git-challenge"]
	path = git-challenge
	url = https://github.com/devinmatte/Git-Challenge
